# =============================================================================
# XIU Operating System — Limine Configuration (v8.x Format)
# limine.cfg
# =============================================================================

timeout: 0

/XIU Operating System
    protocol: limine
    kernel_path: boot():/kernel.elf
    module_path: boot():/bin/sh
    module_path: boot():/bin/ls
    module_path: boot():/bin/echo
    module_path: boot():/bin/cat
    module_path: boot():/bin/mkdir
    module_path: boot():/bin/rm
    module_path: boot():/bin/touch
    module_path: boot():/bin/pwd
    module_path: boot():/bin/neofetch
    module_path: boot():/bin/proclist
    module_path: boot():/bin/wserver
    module_path: boot():/bin/guiapp
    module_path: boot():/bin/calc
    module_path: boot():/bin/kilo
    module_path: boot():/bin/dash


